[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/gregorywaynepower/hugo-theme-hello-friend.git
[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/gregorywaynepower/blist-hugo-theme.git
